body {
  font-family: "Open Sans", Ariel, sans-serif;
  color: #444;
  font-weight: 400;
}

h1 {
  color: #33485e;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: 2em;
  color: #33485e;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #33485e;
  color: white;
  font-weight: 400;
}

h3 {
  font-weight: 600;
  font-size: 2em;
}

h4 {
  font-weight: 400;
  font-size: 1.5em;
}

h5{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}
