.col-md-4 {
  text-align: center;
}

.col-md-12 {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 90%;
  padding: 5px;
  font-family: "Times New Roman", sans-serif;
}

#footer {
  background-color: black;
  text-align: center;
  padding: 40px;
  width: 100%;
  color: white;
}

.content figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 50px 0px 50px 0px;
  font-family: sans-serif;
}

.header h2 {
  font-variant-caps: all-small-caps;
  text-align: center;
  font-weight:lighter;
  font-size: 20px;
  font-family: sans-serif;
}

.header h1 {
  text-align: center;
  font-size: 50px;
  font-weight:bolder;
  font-family: sans-serif;
}

.content h4 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
}
